<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>AE</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_Iacute</key>
	<array>
		<string>Iacute</string>
		<string>Icircumflex</string>
	</array>
	<key>@MMK_L_Idieresis</key>
	<array>
		<string>Idieresis</string>
		<string>Itilde</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
	</array>
	<key>@MMK_L_Oslash</key>
	<array>
		<string>Oslash</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
	</array>
	<key>@MMK_L_aacute</key>
	<array>
		<string>aacute</string>
	</array>
	<key>@MMK_L_acircumflex</key>
	<array>
		<string>acircumflex</string>
	</array>
	<key>@MMK_L_adieresis</key>
	<array>
		<string>adieresis</string>
	</array>
	<key>@MMK_L_agrave</key>
	<array>
		<string>agrave</string>
	</array>
	<key>@MMK_L_atilde</key>
	<array>
		<string>atilde</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>b</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e</string>
		<string>ae</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>uniFB00</string>
	</array>
	<key>@MMK_L_fi.dlig</key>
	<array>
		<string>fi.dlig</string>
		<string>uniFB03</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>m</string>
		<string>n</string>
		<string>q</string>
		<string>u</string>
		<string>w</string>
		<string>uniF002</string>
	</array>
	<key>@MMK_L_h</key>
	<array>
		<string>h</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>j</string>
	</array>
	<key>@MMK_L_iacute</key>
	<array>
		<string>iacute</string>
	</array>
	<key>@MMK_L_icircumflex</key>
	<array>
		<string>icircumflex</string>
	</array>
	<key>@MMK_L_idieresis</key>
	<array>
		<string>idieresis</string>
	</array>
	<key>@MMK_L_itilde</key>
	<array>
		<string>itilde</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>l</string>
		<string>fl.dlig</string>
		<string>uniFB04</string>
	</array>
	<key>@MMK_L_ntilde</key>
	<array>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o</string>
	</array>
	<key>@MMK_L_oacute</key>
	<array>
		<string>oacute</string>
	</array>
	<key>@MMK_L_ocircumflex</key>
	<array>
		<string>ocircumflex</string>
	</array>
	<key>@MMK_L_odieresis</key>
	<array>
		<string>odieresis</string>
	</array>
	<key>@MMK_L_ograve</key>
	<array>
		<string>ograve</string>
	</array>
	<key>@MMK_L_oslash</key>
	<array>
		<string>oslash</string>
	</array>
	<key>@MMK_L_otilde</key>
	<array>
		<string>otilde</string>
	</array>
	<key>@MMK_L_p</key>
	<array>
		<string>p</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_L_uacute</key>
	<array>
		<string>uacute</string>
	</array>
	<key>@MMK_L_ucircumflex</key>
	<array>
		<string>ucircumflex</string>
	</array>
	<key>@MMK_L_udieresis</key>
	<array>
		<string>udieresis</string>
	</array>
	<key>@MMK_L_ugrave</key>
	<array>
		<string>ugrave</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>y</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>AE</string>
	</array>
	<key>@MMK_R_B</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>l</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Iacute</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>Ccedilla</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>OE</string>
	</array>
	<key>@MMK_R_Idieresis</key>
	<array>
		<string>Idieresis</string>
		<string>Itilde</string>
	</array>
	<key>@MMK_R_Igrave</key>
	<array>
		<string>Igrave</string>
		<string>Icircumflex</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_aacute</key>
	<array>
		<string>aacute</string>
	</array>
	<key>@MMK_R_acircumflex</key>
	<array>
		<string>acircumflex</string>
	</array>
	<key>@MMK_R_adieresis</key>
	<array>
		<string>adieresis</string>
	</array>
	<key>@MMK_R_agrave</key>
	<array>
		<string>agrave</string>
	</array>
	<key>@MMK_R_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_atilde</key>
	<array>
		<string>atilde</string>
	</array>
	<key>@MMK_R_backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>@MMK_R_braceleft</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c</string>
		<string>e</string>
		<string>g</string>
		<string>q</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>ellipsis</string>
	</array>
	<key>@MMK_R_d</key>
	<array>
		<string>d</string>
	</array>
	<key>@MMK_R_eacute</key>
	<array>
		<string>eacute</string>
	</array>
	<key>@MMK_R_ecircumflex</key>
	<array>
		<string>ecircumflex</string>
	</array>
	<key>@MMK_R_edieresis</key>
	<array>
		<string>edieresis</string>
	</array>
	<key>@MMK_R_egrave</key>
	<array>
		<string>egrave</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>uniFB00</string>
		<string>fi.dlig</string>
		<string>fl.dlig</string>
		<string>uniFB03</string>
		<string>uniFB04</string>
	</array>
	<key>@MMK_R_guillemotleft</key>
	<array>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_R_guillemotright</key>
	<array>
		<string>guillemotright</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>emdash</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
	</array>
	<key>@MMK_R_icircumflex</key>
	<array>
		<string>icircumflex</string>
	</array>
	<key>@MMK_R_idieresis</key>
	<array>
		<string>idieresis</string>
	</array>
	<key>@MMK_R_igrave</key>
	<array>
		<string>igrave</string>
	</array>
	<key>@MMK_R_itilde</key>
	<array>
		<string>itilde</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_R_m</key>
	<array>
		<string>m</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>n</string>
	</array>
	<key>@MMK_R_ntilde</key>
	<array>
		<string>ntilde</string>
		<string>utilde</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>o</string>
	</array>
	<key>@MMK_R_oacute</key>
	<array>
		<string>oacute</string>
	</array>
	<key>@MMK_R_ocircumflex</key>
	<array>
		<string>ocircumflex</string>
	</array>
	<key>@MMK_R_odieresis</key>
	<array>
		<string>odieresis</string>
	</array>
	<key>@MMK_R_oe</key>
	<array>
		<string>oe</string>
	</array>
	<key>@MMK_R_ograve</key>
	<array>
		<string>ograve</string>
	</array>
	<key>@MMK_R_oslash</key>
	<array>
		<string>oslash</string>
	</array>
	<key>@MMK_R_otilde</key>
	<array>
		<string>otilde</string>
	</array>
	<key>@MMK_R_parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>@MMK_R_parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>@MMK_R_question</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_R_questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>@MMK_R_quotedbl</key>
	<array>
		<string>quotedbl</string>
	</array>
	<key>@MMK_R_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_R_quotedblright</key>
	<array>
		<string>quotedblright</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
	</array>
	<key>@MMK_R_uacute</key>
	<array>
		<string>uacute</string>
	</array>
	<key>@MMK_R_ucircumflex</key>
	<array>
		<string>ucircumflex</string>
	</array>
	<key>@MMK_R_udieresis</key>
	<array>
		<string>udieresis</string>
	</array>
	<key>@MMK_R_ugrave</key>
	<array>
		<string>ugrave</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>y</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
</dict>
</plist>
