@import "tailwindcss";

@plugin "daisyui" {
    themes: gemma;

    logs: true;
}

/* Define your branding fonts here*/
@theme {
    --font-mono: "Space Grotesk";
        --font-display: "Rany";
            --font-body: "Canava Grotesk";
            --font-sans: "Canava Grotesk";
            --font-condensed: 'Formula Condensed';
            --font-condensed-alt: 'Galgo';
}

@plugin "@tailwindcss/typography";
@plugin "daisyui/theme" {
    name: "gemma";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(0% 0 0);
    --color-base-200: oklch(14% 0.005 285.823);
        --color-base-300: oklch(21% 0.006 285.885);
        --color-base-content: oklch(94% 0 0);
        --color-primary: oklch(87% 0.169 91.605);
        --color-primary-content: oklch(28% 0.066 53.813);
        --color-secondary: oklch(81% 0.203 315.504);
        --color-secondary-content: oklch(10% 0.149 302.717);
        --color-accent: oklch(100% 0 0);
        --color-accent-content: oklch(2% 0.09 281.288);
        --color-neutral: oklch(87% 0.006 286.286);
        --color-neutral-content: oklch(14% 0.005 285.823);
        --color-info: oklch(71% 0.143 215.221);
        --color-info-content: oklch(98% 0.019 200.873);
        --color-success: oklch(85% 0.138 181.071);
        --color-success-content: oklch(27% 0.046 192.524);
        --color-warning: oklch(83% 0.128 66.29);
        --color-warning-content: oklch(26% 0.079 36.259);
        --color-error: oklch(81% 0.117 11.638);
        --color-error-content: oklch(27% 0.105 12.094);
        --radius-selector: 0rem;
        --radius-field: 0rem;
        --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
        --noise: 0;
    }

@custom-variant hover (&:hover);
.btn {
    @apply cursor-pointer transition-all px-6 py-2 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px] font-display
}

.btn-ghost, .btn-soft {
    @apply hover:translate-y-[0px] border-b-[0px] hover:border-b-[0px] active:border-b-[0px] active:brightness-90 active:translate-y-[0px]
}

.btn-alt {
    /* From Uiverse.io by adamgiebl */


    border: 3px solid var(--color-base-content) !important;

    box-shadow: 0.1em 0.1em !important;
    cursor: pointer;


    &:hover {
        transform: translate(-0.05em, -0.05em) !important;
        box-shadow: 0.15em 0.15em !important;
    }

    &:active {
        transform: translate(0.05em, 0.05em) !important;
        box-shadow: 0.05em 0.05em !important;
    }
}