[data-theme='dark'] {
    .bg-radial-pattern {
        background: radial-gradient(rgba(255, 255, 210, 0.2) 1px, transparent 1px);
        background-size: 20px 20px;
    }
}

[data-theme='gemma'] {
    .bg-radial-pattern {
        background: radial-gradient(rgba(187, 241, 99, 0.158) 1px, transparent 1px);
        background-size: 20px 20px;
    }
}