[data-theme='dark'] {
    .bg-radial-pattern {
        background: radial-gradient(rgba(255, 255, 210, 0.2) 1px, transparent 1px);
        background-size: 20px 20px;
    }
}

[data-theme='gemma'] {
    .bg-radial-pattern {
        background: radial-gradient(rgba(187, 241, 99, 0.158) 1px, transparent 1px);
        background-size: 20px 20px;
    }
}
.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
}

.glass-no-shadow {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.37);

    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
}